body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0px;
}
#hero {
  width: 592px;
  margin: auto;
}
#hero img {
  margin: auto;
  width: 348px;
  margin-bottom: 71px;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 32px;
}
h1 span {
  font-weight: bolder;
}
span,
a {
  color: #ff9900;
}
p,
sociallink1 {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}
#line {
  width: 568px;
  height: 0px;
  border: 1px #eceff2 solid;
  margin: 0 auto 8px;
}
#sociallink1 a + a {
  margin-left: 28px;
}
#bolinhas {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
